@model Sale

<tfoot>
<tr>
	@using (Html.BeginForm("Create", "Sale", Model, FormMethod.Post))
	{
		<th></th>
		<td>@Html.EditorFor(model => model.Discount)</td>
		<td></td>
		<td>@Html.EditorFor(model => model.StartDate)</td>
		<td>@Html.EditorFor(model => model.EndDate)</td>
		<td>
			<input type="submit" value="Create"/>
		</td>
	}
</tr>
</tfoot>